<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build release framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Run build script.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Run test program.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Run unit tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key></key>
		<true/>
		<key>Build release framework</key>
		<true/>
		<key>dUsefulStuff simulator unit tests.app</key>
		<true/>
		<key>dUsefullStuff App Test Simulator.app</key>
		<true/>
		<key>dUsefullStuff Test Program.app</key>
		<true/>
		<key>libdUsefulStuff.a</key>
		<true/>
	</dict>
</dict>
</plist>
